.zip-container {
    text-align: center;
  
    
    margin: 0px;
    
}
button {
    margin-top: 10px;
    cursor: pointer;
    color: blue;
  }
div
{
    
    
    text-align: center;
    text-shadow: 20px;
    color: crimson;
    
    margin-top: 10px;
}
*{
   background-color: lemonchiffon;
    
}
img{
    position: absolute;
    right: 5px;
    top: 5px;
    
    
  }
