.zip-container {
  text-align: center;

  
  margin-bottom: 10px;
  
}
button {
  margin-top: 10px;
  cursor: pointer;
  color: blue;
}
div
{
  
  
  text-align: center;
  text-shadow: 20px;
  color: crimson;
  
  margin-top: 10px;
}
*{
 background-color: lemonchiffon;
  
}
img{
  
  position: sticky;
  
  left: 20px;
  top: 20px;
  
  
}